body{
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	MARGIN: 0px;
	BORDER-LEFT:0px;
	CURSOR: default;
	BORDER-BOTTOM: 0px;
	FONT-FAMILY: Arial, Helvetica, sans-serif; /*MS Sans Serif, Geneva, sans-serif;*/
	FONT-SIZE: 8pt;
	BACKGROUND-COLOR: #FFFFFF;
	scrollbar-3dlight-color:#B4CAEC;
	scrollbar-arrow-color:#009A00;
	scrollbar-base-color:#C9DBF7;
	scrollbar-darkshadow-color:#D7E6FD;
	scrollbar-face-color:#D6DEE7;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#5A7B94;
}

table{FONT-size:8pt}
TABLE.layout {TABLE-LAYOUT: fixed; WIDTH: 100%; HEIGHT: 100%}
TD.layout{width:100%;height:100%}
SPAN.lui{CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline}
div.tooltip{position:absolute}
button {
	border:1px solid #6283A3;
	PADDING-RIGHT: 5px;
	color:#000000;
	PADDING-LEFT: 5px;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#DBDBD1);
	CURSOR: hand;
}
input{border:1px solid #6B8C9C}
input.text{border:1px solid #6B8C9C;width:100%}
input.rad{border:0;width:100%}
textarea{border:1px solid #6283A3;overflow:auto;width:100%}
INPUT.selectBox {
	BORDER-RIGHT: 0px; BORDER-TOP: #6B8C9C 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; BORDER-LEFT: #6B8C9C 1px solid; WIDTH: 100%; CURSOR: default; BORDER-BOTTOM: #6B8C9C 1px solid; FONT-FAMILY: verdana; HEIGHT: 19px
}
SPAN.selectBox {BEHAVIOR: url(templates/form/std/select.htc); HEIGHT: 21px}

button.filterSet {
	border:1px solid #6283A3;
	PADDING-RIGHT: 5px;
	color:#000000;
	PADDING-LEFT: 5px;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFCC3300', EndColorStr='#20CC3300');
	CURSOR: hand;
}