table.listBar{
 background-color:#c6daf0;
 }

td.listBar_header
{
	BORDER-TOP:#88B0EB 1px solid;
	BACKGROUND-IMAGE:url('..\menu\backToolBar.gif');
	BACKGROUND-REPEAT:repeat-x;
	BACKGROUND-POSITION: top left;
	WIDTH: 100%;
	COLOR: #000000;
	overflow:hidden;
	font-weight:bold;
	BACKGROUND-COLOR: #98b9e9;
}

td.listBar_header_description
{
	font-weight:bold;
	WIDTH: 100%;
}

td.listBar_item
{
	BORDER-TOP:#88B0EB 1px solid;
	BACKGROUND-IMAGE:url('..\menu\backToolBar.gif');
	BACKGROUND-REPEAT:repeat-x;
	BACKGROUND-POSITION: top left;
	WIDTH: 100%;
	COLOR: #000000;
	overflow:hidden;
	BACKGROUND-COLOR: #98b9e9;
}
td.listBar_item_selected
{
	BORDER-TOP:#88B0EB 1px solid;
	BACKGROUND-IMAGE:url('itemSelected.gif');
	BACKGROUND-REPEAT:repeat-x;
	BACKGROUND-POSITION: top left;
	WIDTH: 100%;
	COLOR: #000000;
	overflow:hidden;
	BACKGROUND-COLOR: #98b9e9;
}

div.listBar_bodyItem
{
	height:100%;overflow:auto;
	display:none;
}

div.listBar_bodyItemVisible
{

	height:100%;overflow:auto;
}

