@CHARSET "ISO-8859-1";
/* Rule 2 of embedded stylesheet */ 
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

/* Rule 807 of embedded stylesheet */ 
.dDialog {
	Z-INDEX: 10020;
	OVERFLOW: visible;
	CURSOR: default;
	POSITION: absolute
}

/* Rule 845 of embedded stylesheet */ 
.dDialog {
	FONT-SIZE: 11px;
	FONT-FAMILY: tahoma, helvetica, arial, sans-serif
}

/* Rule 1 of embedded stylesheet */ 
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

/* Rule 805 of embedded stylesheet */ 
.dDialogCover {
	Z-INDEX: 10010;
	LEFT: 0px;
	OVERFLOW: hidden;
	WIDTH: 100%;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 100%;
	-moz-user-focus: ignore
}

/* Rule 850 of embedded stylesheet */ 
.dDialogCover {
	Z-INDEX: 10010;
	LEFT: 0px;
	OVERFLOW: hidden;
	WIDTH: 100%;
	POSITION: absolute;
	TOP: 0px;
	HEIGHT: 100%;
	-moz-user-focus: ignore
}


/* Rule 9 of embedded stylesheet */ 
.appBody {
	BORDER-RIGHT: 0px solid;
	MARGIN: 0px;
	OVERFLOW: hidden;
	BORDER-LEFT: 0px solid;
	BORDER-BOTTOM: 0px solid
}


/* Rule 4 of embedded stylesheet */ 
HTML {
	OVERFLOW: hidden
}

/* Rule 808 of embedded stylesheet */ 
.dDialog .frame1 {
	
}

/* Rule 5 of embedded stylesheet */ 
TABLE {
	
}

/* Rule 809 of embedded stylesheet */ 
.dDialog .frame2 {
	
}

/* Rule 840 of embedded stylesheet */ 
.dDialog TFOOT .dialogFooterRight {
	/*BACKGROUND: url(dialogimgs2.gif) no-repeat -1710px 0px;*/
	BACKGROUND: url(dialogimgs1.gif) no-repeat -1710px 0px;
	WIDTH: 3px;
	HEIGHT: 3px
}

/* Rule 846 of embedded stylesheet */ 
.dDialog TD {
	FONT-SIZE: 11px;
	FONT-FAMILY: tahoma, helvetica, arial, sans-serif
}

/* Rule 120 of embedded stylesheet */ 
.dDialog TFOOT .dialogFooterRight {
	BACKGROUND: url(dialogimgs2.gif) no-repeat -1710px 0px
}

/* Rule 839 of embedded stylesheet */ 
.dDialog TFOOT .dialogFooterCenter {
	FONT-SIZE: 0px;
	BORDER-LEFT-COLOR: #b3b6b0;
	BORDER-TOP-COLOR: #b3b6b0;
	BORDER-BOTTOM: #b3b6b0 1px solid;
	HEIGHT: 3px;
	BACKGROUND-COLOR: #f4f5eb;
	BORDER-RIGHT-COLOR: #b3b6b0
}

/* Rule 118 of embedded stylesheet */ 
.dDialog TFOOT .dialogFooterCenter {
	BORDER-LEFT-COLOR: #debd8e;
	BORDER-TOP-COLOR: #debd8e;
	BORDER-BOTTOM: #debd8e 1px solid;
	BACKGROUND-COLOR: #fff8e0;
	BORDER-RIGHT-COLOR: #debd8e
}

/* Rule 838 of embedded stylesheet */ 
.dDialog TFOOT .dialogFooterLeft {
	BACKGROUND: url(dialogimgs1.gif) no-repeat -1740px 0px;
	WIDTH: 3px;
	HEIGHT: 3px
}

/* Rule 117 of embedded stylesheet */ 
.dDialog TFOOT .dialogFooterLeft {
	BACKGROUND: url(dialogimgs2.gif) no-repeat -1740px 0px
}

/* Rule 834 of embedded stylesheet */ 
.dDialog TFOOT .dialogRight {
	BORDER-RIGHT: #b3b6b0 1px solid;
	BORDER-LEFT-COLOR: #b3b6b0;
	BORDER-BOTTOM-COLOR: #b3b6b0;
	WIDTH: 3px;
	BORDER-TOP-COLOR: #b3b6b0;
	BACKGROUND-COLOR: #f4f5eb
}

/* Rule 111 of embedded stylesheet */ 
.dDialog TFOOT .dialogRight {
	BORDER-RIGHT: #debd8e 1px solid;
	BORDER-LEFT-COLOR: #debd8e;
	BORDER-BOTTOM-COLOR: #debd8e;
	BORDER-TOP-COLOR: #debd8e;
	BACKGROUND-COLOR: #fff8e0
}

/* Rule 830 of embedded stylesheet */ 
.dDialog TFOOT .content {
	BACKGROUND-COLOR: #f4f5eb
}

/* Rule 379 of embedded stylesheet */ 
.dDialog TFOOT .content {
	BACKGROUND-COLOR: #fff8e0
}

/* Rule 841 of embedded stylesheet */ 
.dDialog .buttons {
	PADDING-RIGHT: 3px;
	WHITE-SPACE: nowrap;
	TEXT-ALIGN: right
}

/* Rule 842 of embedded stylesheet */ 
.dDialog .buttons BUTTON {
	MARGIN-LEFT: 0.7em
}

/* Rule 843 of embedded stylesheet */ 
.ie .dDialog .buttons BUTTON {
	OVERFLOW: visible;
	WIDTH: 85px
}

/* Rule 849 of embedded stylesheet */ 
.dDialog BUTTON {
	PADDING-RIGHT: 0.5em;
	PADDING-LEFT: 0.5em;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0.2em;
	PADDING-TOP: 0.2em
}

/* Rule 844 of embedded stylesheet */ 
.dDialog .buttons BUTTON .btnContent {
	MIN-WIDTH: 70px
}

/* Rule 832 of embedded stylesheet */ 
.dDialog TFOOT .dialogLeft {
	BORDER-BOTTOM-COLOR: #b3b6b0;
	BORDER-LEFT: #b3b6b0 1px solid;
	WIDTH: 3px;
	BORDER-TOP-COLOR: #b3b6b0;
	BACKGROUND-COLOR: #f4f5eb;
	BORDER-RIGHT-COLOR: #b3b6b0
}

/* Rule 109 of embedded stylesheet */ 
.dDialog TFOOT .dialogLeft {
	BORDER-BOTTOM-COLOR: #debd8e;
	BORDER-LEFT: #debd8e 1px solid;
	BORDER-TOP-COLOR: #debd8e;
	BACKGROUND-COLOR: #fff8e0;
	BORDER-RIGHT-COLOR: #debd8e
}

/* Rule 827 of embedded stylesheet */ 
.dDialog TBODY {
	BACKGROUND-COLOR: #f4f5eb
}

/* Rule 108 of embedded stylesheet */ 
.dDialog TBODY {
	BACKGROUND-COLOR: #fff8e0
}

/* Rule 835 of embedded stylesheet */ 
.dDialog TBODY .dialogRight {
	BORDER-RIGHT: #b3b6b0 1px solid;
	BORDER-LEFT-COLOR: #b3b6b0;
	BORDER-BOTTOM-COLOR: #b3b6b0;
	WIDTH: 3px;
	BORDER-TOP-COLOR: #b3b6b0;
	BACKGROUND-COLOR: #f4f5eb
}

/* Rule 112 of embedded stylesheet */ 
.dDialog TBODY .dialogRight {
	BORDER-RIGHT: #debd8e 1px solid;
	BORDER-LEFT-COLOR: #debd8e;
	BORDER-BOTTOM-COLOR: #debd8e;
	BORDER-TOP-COLOR: #debd8e;
	BACKGROUND-COLOR: #fff8e0
}

/* Rule 828 of embedded stylesheet */ 
.dDialog TBODY .content {
}

/* Rule 836 of embedded stylesheet */ 
.dDialog TBODY P {
	MARGIN: 1em 0em
}

/* Rule 16 of embedded stylesheet */ 
.inputField {
	BORDER-RIGHT: #ced1c9 1px solid;
	PADDING-RIGHT: 6px;
	BORDER-TOP: #ced1c9 1px solid;
	PADDING-LEFT: 6px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 3px;
	BORDER-LEFT: #ced1c9 1px solid;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #ced1c9 1px solid;
	FONT-FAMILY: tahoma, helvetica, arial, sans-serif;
	BACKGROUND-COLOR: white
}

/* Rule 418 of embedded stylesheet */ 
.inputField {
	BORDER-LEFT-COLOR: #debd8e;
	BORDER-BOTTOM-COLOR: #debd8e;
	BORDER-TOP-COLOR: #debd8e;
	BORDER-RIGHT-COLOR: #debd8e
}

/* Rule 833 of embedded stylesheet */ 
.dDialog TBODY .dialogLeft {
	BORDER-BOTTOM-COLOR: #b3b6b0;
	BORDER-LEFT: #b3b6b0 1px solid;
	WIDTH: 3px;
	BORDER-TOP-COLOR: #b3b6b0;
	BACKGROUND-COLOR: #f4f5eb;
	BORDER-RIGHT-COLOR: #b3b6b0
}

/* Rule 110 of embedded stylesheet */ 
.dDialog TBODY .dialogLeft {
	BORDER-BOTTOM-COLOR: #debd8e;
	BORDER-LEFT: #debd8e 1px solid;
	BORDER-TOP-COLOR: #debd8e;
	BACKGROUND-COLOR: #fff8e0;
	BORDER-RIGHT-COLOR: #debd8e
}

/* Rule 816 of embedded stylesheet */ 
.dDialog THEAD .dialogRight {
	FONT-SIZE: 0px;
	BACKGROUND: url(dialogimgs1.gif) no-repeat -1380px 0px;
	OVERFLOW: hidden;
	WIDTH: 3px;
	HEIGHT: 25px
}

/* Rule 114 of embedded stylesheet */ 
.dDialog THEAD .dialogRight {
	BACKGROUND: url(dialogimgs2.gif) no-repeat -1380px 0px
}

/* Rule 817 of embedded stylesheet */ 
.dDialog THEAD .closeBtnContainer {
	BACKGROUND: url(dialogimgs4.gif) repeat-x 0px -1100px;
	WIDTH: 16px;
	POSITION: relative;
	TEXT-ALIGN: right
}

/* Rule 116 of embedded stylesheet */ 
.dDialog THEAD .closeBtnContainer {
	BACKGROUND: url(dialogimgs5.gif) repeat-x 0px -1100px
}

/* Rule 819 of embedded stylesheet */ 
.dDialog THEAD .close {
	BACKGROUND-POSITION: -732px 0px;
	RIGHT: 5px;
	BACKGROUND-IMAGE: url(dialogimgs6.gif);
	WIDTH: 16px;
	CURSOR: hand;
	BACKGROUND-REPEAT: no-repeat;
	POSITION: absolute;
	TOP: 5px;
	HEIGHT: 16px
}

/* Rule 821 of embedded stylesheet */ 
.ie .dDialog THEAD .close {
	RIGHT: 1px
}

/* Rule 166 of embedded stylesheet */ 
.dDialog THEAD .close {
	BACKGROUND-IMAGE: url(http://l.yimg.com/us.yimg.com/i/us/pim/dclient/g/img/md5/6367b2cc3c4c14c3b83e49af1a2c5c3e_1.gif)
}

/* Rule 813 of embedded stylesheet */ 
.dDialog THEAD .content {
	BACKGROUND: url(dialogimgs4.gif) repeat-x 0px -1100px;
	PADDING-BOTTOM: 0px;
	CURSOR: move;
	PADDING-TOP: 1px;
	WHITE-SPACE: nowrap;
	HEIGHT: 25px
}

/* Rule 115 of embedded stylesheet */ 
.dDialog THEAD .content {
	BACKGROUND: url(dialogimgs5.gif) repeat-x 0px -1100px
}

/* Rule 831 of embedded stylesheet */ 
.dDialog THEAD H1 {
	PADDING-RIGHT: 6px;
	PADDING-LEFT: 6px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 4px;
	MARGIN: 0px;
	COLOR: white;
	PADDING-TOP: 4px
}

/* Rule 815 of embedded stylesheet */ 
.dDialog THEAD .dialogLeft {
	FONT-SIZE: 0px;
	BACKGROUND: url(dialogimgs1.gif) no-repeat -1350px 0px;
	OVERFLOW: hidden;
	WIDTH: 3px;
	HEIGHT: 25px
}

/* Rule 113 of embedded stylesheet */ 
.dDialog THEAD .dialogLeft {
	BACKGROUND: url(dialogimgs2.gif) no-repeat -1350px 0px
}

/* Rule 3 of embedded stylesheet */ 
BodyStyle {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px;
	HEIGHT: 100%;
	BACKGROUND-COLOR: #f4f5eb;
	POSITION: absolute
}


