form.objectForm{
	BEHAVIOR: url(templates/form/std/form.htc);
	BACKGROUND-COLOR:#F2F7FA;
}

button.frm_std{
	border:1px solid #6283A3;
	PADDING-RIGHT: 5px;
	color:#000000;
	PADDING-LEFT: 5px;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#DBDBD1);
	CURSOR: hand;
}
input.frm_std{
	border:1px solid #6283A3;
	width:100%;
}
textarea.frm_std{
  border:1px solid #6283A3;
  width:100%;
  overflow:auto;
}

input.frmtext_std{
  border:1px solid #6283A3;
  width:100%;
 }

input.frmrad_std{
  border:0;
  width:100%;
}

textarea.frm_std{
  border:1px solid #6283A3;
  overflow:auto;
  width:100%;
}

INPUT.duration {
	BEHAVIOR: url(templates/form/std/duration.htc)
}

INPUT.selectBox {
	BORDER-RIGHT: 0px; BORDER-TOP: #6B8C9C 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; BORDER-LEFT: #6B8C9C 1px solid; WIDTH: 100%; CURSOR: default; BORDER-BOTTOM: #6B8C9C 1px solid; FONT-FAMILY: verdana; HEIGHT: 19px
}
SPAN.selectBox {
	BEHAVIOR: url(templates/form/std/select.htc); HEIGHT: 21px
}

table.usefull_links
{
	background-color:#CCCCCC;
}
input.fullTextSearch {
	BEHAVIOR: url(templates/form/std/fulltext.htc);
	border:0;
	width:100%;
}
table.fullTextSearch{
border:1px solid #6B8C9C;
}

IMG.dtm {
	BEHAVIOR: url(templates/form/std/IMG.dtm.htc); CURSOR: hand
}

IMG.clock {
	BEHAVIOR: url(templates/form/std/clock.htc); CURSOR: hand
}

INPUT.dtm {
    width:100%;
	BEHAVIOR: url(templates/form/std/INPUT.dtm.htc);
}
DIV.timeedit {
	BEHAVIOR: url(templates/form/std/timeedit.htc)
}

SPAN.link {
	CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline
}

SPAN.lui {
	CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline
}

IMG.lui {
	MARGIN-LEFT: 2px; VERTICAL-ALIGN: middle; WIDTH: 16px; MARGIN-RIGHT: 5px; HEIGHT: 16px;
	BEHAVIOR: url(templates/form/std/IMG.lui.htc);
}

DIV.lu {
	BORDER: #6B8C9C 1px solid;OVERFLOW-Y: auto; BACKGROUND: window; OVERFLOW-X: hidden; 
	WIDTH: 100%;
	HEIGHT: 19px;
}
DIV.ro {
	OVERFLOW-Y: auto; BORDER: 1px solid #A4BAC4; WIDTH: 100%; HEIGHT: 19px; BACKGROUND-COLOR: #FBFDFD;
}

DIV.lui
{
	BEHAVIOR: url(templates/form/std/DIV.lui.htc);
}

DIV.lud {
	BACKGROUND:#FBFDFD;
}
IMG.lu {
	BEHAVIOR: url(templates/form/std/IMG.lu.htc); CURSOR: hand
}

IMG.lua {
	BEHAVIOR: url(templates/form/std/IMG.lua.htc); CURSOR: hand
}
IMG.imgonoff {
	BEHAVIOR: url(templates/form/std/IMG.onoff.htc); CURSOR: hand;display:inline;
}

IMG.lud {
	CURSOR: default
}

TABLE.htmlBar {
	BORDER-RIGHT: #808080 1px solid;
	TABLE-LAYOUT: fixed; BORDER-TOP: #808080 1px solid;
	BEHAVIOR: url(templates/form/std/htmlbar.htc); BORDER-LEFT: #808080 1px solid; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 26px; BACKGROUND-COLOR: #EDEAE6
}
.htmlBtn {
	BORDER-RIGHT:  #EDEAE6 1px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #EDEAE6 1px solid;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 0px; FONT: 10px verdana;
	BORDER-LEFT: #EDEAE6 1px solid;
	CURSOR: hand; PADDING-TOP: 2px;
	BORDER-BOTTOM: #EDEAE6 1px solid;
	BACKGROUND-COLOR: #EDEAE6;
	TEXT-ALIGN: center
}
IFRAME.editPage {
	BORDER-RIGHT: #6B8C9C 1px solid; BORDER-TOP: #6B8C9C 1px solid; OVERFLOW: auto; BORDER-LEFT: #6B8C9C 1px solid; WIDTH: 100%; BORDER-BOTTOM: #6B8C9C 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #000000
}

INPUT.num {
	BEHAVIOR: url(templates/form/std/INPUT.num.htc)
}
INPUT.rad {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BEHAVIOR: url(templates/form/std/inputRadio.htc);
	BORDER-LEFT: 0px; WIDTH: 15px; CURSOR: hand; BORDER-BOTTOM: 0px
}
TD.radioLabel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px
}
LABEL {
	CURSOR: hand
}

label.req{
   FONT-WEIGHT: bold; color:#990000
}

label.rcm{
   FONT-WEIGHT: bold; color:#3050AA
}

label.reqToComplete{
   FONT-WEIGHT: bold; color:green;
}


TD.headerExtendList{
   B-ACKGROUND-COLOR:#EEEEEE;
   FONT-FAMILY: verdana; HEIGHT: 17px
}
DIV.ExtendList{
   BORDER-RIGHT: #949e9c 1px solid; BORDER-TOP: #949e9c 1px solid;BORDER-LEFT: #949e9c 1px solid; WIDTH: 100%; BORDER-BOTTOM: #949e9c 1px solid; HEIGHT: 100%; BACKGROUND-COLOR:#FEFDFC;
   padding:2px;
}

TD.req {
	FONT-WEIGHT: bold; COLOR: #990000
}
TD.sec {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; WIDTH: 100%; COLOR: #606050
}
TD.bar {
	BORDER-BOTTOM: #838574 1px solid
}

TABLE.section{
 TABLE-LAYOUT: fixed;
 BACKGROUND-COLOR:#FEFDFC;
 padding:2px;
}

span.error{
  color:#990000;
}

span.error{
  color:#990000;
  TEXT-DECORATION: underline;
  cursor:hand;
  padding-left:10px;
}

div.error{
	overflow-y:auto;
	padding:2px;
	height:40px;
	background-color:#FFFFFF;
}
td.error{
  background-color:#FFFFFF;
  padding:10px;
  height:60px;
  B-ORDER-BOTTOM:#113469 1px solid;
  
}


td.breadCrumb{
  padding:4px;
  background-color:#F2F7FA;
  
}
span.breadCrumbSep{
  color:#3A6F81;
  font-weight:bold;
  padding:3px;
  background-color:#F2F7FA;
  
}
span.breadCrumbLastItem{
  color:#3A6F81;
  font-weight:bold;
  background-color:#F2F7FA;
  
}
span.linkScreen{  color:#3A6F81;padding-left:2px; border-bottom:1px solid #3A6F81 ;cursor:hand }
