body{
BORDER-RIGHT: 0px;
BORDER-TOP: 0px;
MARGIN: 0px;
BORDER-LEFT:0px;
CURSOR: default;
BORDER-BOTTOM: 0px;
FONT-FAMILY: Arial, Helvetica, sans-serif; /*MS Sans Serif, Geneva, sans-serif;*/
FONT-SIZE: 8pt;
BACKGROUND-COLOR: #FFFFFF}

table{FONT-size:8pt}
TABLE.layout {TABLE-LAYOUT: fixed; WIDTH: 100%; HEIGHT: 100%}
TD.layout{width:100%;height:100%}
SPAN.lui{CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline}
div.tooltip{position:absolute}
button {
	border:1px solid #6283A3;
	PADDING-RIGHT: 5px;
	color:#000000;
	PADDING-LEFT: 5px;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#DBDBD1);
	CURSOR: hand;
}
input{border:1px solid #6B8C9C}
input.text{border:1px solid #6B8C9C;width:100%}
input.rad{border:0;width:100%}
textarea{border:1px solid #6283A3;overflow:auto;width:100%}
INPUT.selectBox {
	BORDER-RIGHT: 0px; BORDER-TOP: #6B8C9C 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; BORDER-LEFT: #6B8C9C 1px solid; WIDTH: 100%; CURSOR: default; BORDER-BOTTOM: #6B8C9C 1px solid; FONT-FAMILY: verdana; HEIGHT: 19px
}
SPAN.selectBox {BEHAVIOR: url(templates/form/std/select.htc); HEIGHT: 21px}
img.rszLeft
{
    BEHAVIOR: url("ieLibrary/splitter/imgRszLeft.htc");
    cursor:col-resize;
    height:100%;
    position:relative;
}

img.rszUp
{
    BEHAVIOR: url("ieLibrary/splitter/imgRszUp.htc");
    cursor:row-resize;
    width:100%;
    position:relative;
}
img.ui-rszLeft{width:4px}
img.ui-rszUP{height:4px}
span.scrollContainer
{
	BEHAVIOR: url(ieLibrary/scrollContainer/scrollContainer.htc);
	overflow:hidden;
}span.scrollLeft
{
BACKGROUND-IMAGE:url('arrowLeft.gif');
BACKGROUND-REPEAT:no-repeat;
BACKGROUND-POSITION: center center;
BACKGROUND-COLOR:#135EC3;
WIDTH:10px;
}
span.scrollRight
{
BACKGROUND-IMAGE:url('arrowRight.gif');
BACKGROUND-REPEAT:no-repeat;
BACKGROUND-POSITION: center center;
BACKGROUND-COLOR:#135EC3;
WIDTH:10px;
}

span.scrollTop
{
BACKGROUND-IMAGE:url('arrowTop.gif');
BACKGROUND-REPEAT:no-repeat;
BACKGROUND-POSITION: top center;
BACKGROUND-COLOR:#135EC3;
HEIGHT:12px;
}
span.scrollBottom
{
BACKGROUND-IMAGE:url('arrowBottom.gif');
BACKGROUND-REPEAT:no-repeat;
BACKGROUND-POSITION: top center;
BACKGROUND-COLOR:#135EC3;
HEIGHT:12px;
}

td.taskBar{FONT-SIZE: 8pt;COLOR: #3E6298;padding-left:3px;padding-right:1px;cursor:hand;FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#cee7ff, EndColorStr=#acc8ef)}
td.taskBar_sel{FONT-SIZE: 8pt;COLOR:#3E6298;font-weight:bold;padding-left:3px;padding-right:1px;FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#fbe1bb, EndColorStr=#fcc28b);cursor:hand}
td.taskBarClose{padding-right:1px;FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#cee7ff, EndColorStr=#acc8ef);cursor:hand}
td.taskBarClose_sel{padding-right:1px;FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#fbe1bb, EndColorStr=#fcc28b);cursor:hand}
td.tasksep{width:1px;background-color:#ffffff}
td.taskSel{background-color:#FBE1BB}
td.taskNormal{background-color:#CEE0F9}
tr.taskSel{background-color:#FBE1BB}
tr.taskNormal{background-color:#CEE0F9}
tr.taskUnderline{height:9px;background-color:#FCC28B}
