.doc_std{
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	border:1px solid #3A6F81;
	background-color:#FFFFFF;
	position:absolute;
	FONT-size:11px;
	COLOR:#00000;
	zoom:100%;
}
.docHeaderTit_stdSEL{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FBE3BE, EndColorStr=#FCB576);
	background-color:#FFFFFF;
	color:#3E6298;
	font-weight:bold;
	cursor:hand;
}

.docHeaderTit_std{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EDF3F6, EndColorStr=#ACC1E0);
	background-color:#FFFFFF;
	color:#3E6298;
	cursor:hand;
}

.docFooter_std
{
	
	WIDTH: 100%; COLOR: #3A6F81;  POSITION: relative; HEIGHT: 20px;
	FONT-size:10px;
	background-color:#F2F7FA;
}

.docFooterRsz_std{cursor:se-resize;}

.doc_lookup{
    padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	border:1px solid #3A6F81;
	background-color:#FFFFFF;
	position:absolute;
	FONT-size:11px;
	COLOR:#00000;
	zoom:100%;
	
}
.docHeaderTit_lookupSEL{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FBE3BE, EndColorStr=#FCB576);
	background-color:#FFFFFF;
	color:#3E6298;
	font-weight:bold;
	cursor:hand;
}

.docHeaderTit_lookup{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EDF3F6, EndColorStr=#ACC1E0);
	background-color:#FFFFFF;
	color:#3E6298;
	cursor:hand;
}

.docHeaderDescr_lookup{
  padding:5px;
  background-color:#7B94B9;
  border:1px outset #FFFFFF;
  line-height:15pt;
  color:#FFFFFF;
  display:none;
  height:30px;
  align:left;
  vertical-align:top;
  
}
.docFooter_lookup{
	height:20px;
	color:#FFFFFF;
	BORDER-BOTTOM:#FFFFFF 1px solid;
	B-ACKGROUND-COLOR:#6297E5;
	BACKGROUND-COLOR:#EEEEEE;
}
.docFooterRsz_lookup{cursor:se-resize}
.docBody_lookup{height:100%}


.doc_formula{
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	border:1px solid #3A6F81;
	background-color:#FFFFFF;
	position:absolute;
	FONT-size:11px;
	COLOR:#00000;
	zoom:100%;
}

.docHeaderTit_formulaSEL{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FBE3BE, EndColorStr=#FCB576);
	background-color:#FFFFFF;
	color:#3E6298;
	cursor:hand;
	font-weight:bold;
}

.docHeaderTit_formula{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EDF3F6, EndColorStr=#ACC1E0);
	background-color:#FFFFFF;
	color:#3E6298;
	cursor:hand;
}


.docHeaderDescr_formula{
  padding:5px;
  background-color:#7B94B9;
  border:1px outset #FFFFFF;
  line-height:15pt;
  color:#FFFFFF;
  display:none;
  height:70px;
  align:left;
  vertical-align:top;
  
}
.docFooter_formula{height:20px;color:#CCCCCC}
.docFooterRsz_formula{cursor:se-resize}
.docBody_formula{height:100%}
