body{
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	
	MARGIN: 0px;
	BORDER-LEFT:0px;
	CURSOR: default;
	BORDER-BOTTOM: 0px;

	FONT-FAMILY: Arial, Helvetica, sans-serif; /*MS Sans Serif, Geneva, sans-serif;*/
	FONT-SIZE: 8pt;
	BACKGROUND-COLOR: #FFFFFF;
	
	scrollbar-3dlight-color:#B4CAEC;
	scrollbar-arrow-color:#009A00;
	scrollbar-base-color:#C9DBF7;
	scrollbar-darkshadow-color:#D7E6FD;
	xx:#B9CEED;
	scrollbar-face-color:#D6DEE7;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#5A7B94;
}

table{
	FONT-size:8pt;
}
button{
	border:1px solid #6283A3;
	PADDING-RIGHT: 5px;
	color:#000000;
	PADDING-LEFT: 5px;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#DBDBD1);
	CURSOR: hand;
}
input{
	border:1px solid #6B8C9C;
}

input.text{
  border:1px solid #6B8C9C;
  width:100%;
 }

input.rad{
  border:0;
  width:100%;
}

input.textDisabled{
  border:1px solid #CCCCCC;
  color:#000000;
  width:100%;
}

input.textQuickview{
  border:1px solid #CCCCCC;
  color:#000000;
  width:100%;
}


textarea{
  border:1px solid #6283A3;
  overflow:auto;
  width:100%;
}
div.tooltip{
  
  position:absolute;
  
  
}

a.nav
{
	color:#0000FF;
	F-Ont-size:8pt;	
	margin-left:7px;
}

span.nav
{
 F-Ont-size:10pt;
 b-order-top:1px solid #5991E4;
 background-color:#FFFFFF;
 color:#5991E4;
 padding:5px;
 width:100%;
}
.doc_std{
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	border:1px solid #3A6F81;
	background-color:#FFFFFF;
	position:absolute;
	FONT-size:11px;
	COLOR:#00000;
	zoom:100%;
}
.docHeaderTit_stdSEL{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FBE3BE, EndColorStr=#FCB576);
	background-color:#FFFFFF;
	color:#3E6298;
	font-weight:bold;
	cursor:hand;
}

.docHeaderTit_std{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EDF3F6, EndColorStr=#ACC1E0);
	background-color:#FFFFFF;
	color:#3E6298;
	cursor:hand;
}

.docFooter_std
{
	
	WIDTH: 100%; COLOR: #3A6F81;  POSITION: relative; HEIGHT: 20px;
	FONT-size:10px;
	background-color:#F2F7FA;
}

.docFooterRsz_std{cursor:se-resize;}

.doc_lookup{
    padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	border:1px solid #3A6F81;
	background-color:#FFFFFF;
	position:absolute;
	FONT-size:11px;
	COLOR:#00000;
	zoom:100%;
	
}
.docHeaderTit_lookupSEL{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FBE3BE, EndColorStr=#FCB576);
	background-color:#FFFFFF;
	color:#3E6298;
	font-weight:bold;
	cursor:hand;
}

.docHeaderTit_lookup{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EDF3F6, EndColorStr=#ACC1E0);
	background-color:#FFFFFF;
	color:#3E6298;
	cursor:hand;
}

.docHeaderDescr_lookup{
  padding:5px;
  background-color:#7B94B9;
  border:1px outset #FFFFFF;
  line-height:15pt;
  color:#FFFFFF;
  display:none;
  height:30px;
  align:left;
  vertical-align:top;
  
}
.docFooter_lookup{
	height:20px;
	color:#FFFFFF;
	BORDER-BOTTOM:#FFFFFF 1px solid;
	B-ACKGROUND-COLOR:#6297E5;
	BACKGROUND-COLOR:#EEEEEE;
}
.docFooterRsz_lookup{cursor:se-resize}
.docBody_lookup{height:100%}


.doc_formula{
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	border:1px solid #3A6F81;
	background-color:#FFFFFF;
	position:absolute;
	FONT-size:11px;
	COLOR:#00000;
	zoom:100%;
}

.docHeaderTit_formulaSEL{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FBE3BE, EndColorStr=#FCB576);
	background-color:#FFFFFF;
	color:#3E6298;
	cursor:hand;
	font-weight:bold;
}

.docHeaderTit_formula{
	cursor:hand;
	TEXT-ALIGN: left;
	font:13px arial;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#EDF3F6, EndColorStr=#ACC1E0);
	background-color:#FFFFFF;
	color:#3E6298;
	cursor:hand;
}


.docHeaderDescr_formula{
  padding:5px;
  background-color:#7B94B9;
  border:1px outset #FFFFFF;
  line-height:15pt;
  color:#FFFFFF;
  display:none;
  height:70px;
  align:left;
  vertical-align:top;
  
}
.docFooter_formula{height:20px;color:#CCCCCC}
.docFooterRsz_formula{cursor:se-resize}
.docBody_formula{height:100%}
TD.leftBar {
    VERTICAL-ALIGN: top; WIDTH: 150px; PADDING-TOP: 20px; TEXT-ALIGN: right;
    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#F9FBFC, EndColorStr=#D6E3E6);*/
    background-color:#F2F7FA;
    

 }
SPAN.leftBar {
	BEHAVIOR: url(templates/doc/std/nav.htc); WIDTH: 140px;
	height:100%;
    BACKGROUND-IMAGE:url('clientLOGO.gif');
    BACKGROUND-REPEAT:no-repeat;
    BACKGROUND-POSITION: bottom center;
	
}
DIV.lbItem {
	PADDING-LEFT: 4px;
	MARGIN-BOTTOM: 2px;
	PADDING-BOTTOM: 4px;
	B-ORDER-LEFT: #838574 1px solid;
	CURSOR: hand;
	COLOR: #3A6F81;
	font-size:12px;
	font-weight:normal;
	white-space : nowrap;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #D7E5E7 1px solid;
	HEIGHT: 35px; TEXT-ALIGN: left
}

DIV.lbOn {
	COLOR:#DA0303;
	BORDER-BOTTOM: #3A6F81 1px solid;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#F2F7FA, EndColorStr=#D6E3E6);
	BACKGROUND-COLOR: #CDDEF7;
}

TABLE.layout {
	TABLE-LAYOUT: fixed; WIDTH: 100%; HEIGHT: 100%
}
TD.statusBar {
	PADDING-LEFT: 5px; COLOR: #ffffff; HEIGHT: 23px; B-ACKGROUND-COLOR: #7E8E94;
}
TD.areas {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px;
}
DIV.area {
	PADDING: 6px; OVERFLOW-Y: auto;  WIDTH: 100%; HEIGHT: 100%;
	DISPLAY:none;
	BACKGROUND-COLOR:#F2F7FA;
}
DIV.areaSEL {
	PADDING: 6px; OVERFLOW-Y: auto;  WIDTH: 100%; HEIGHT: 100%;
	BACKGROUND-COLOR:#F2F7FA;
}
span.area_numbers
{
font:9px normal;
color:#3A6F81;
}table.g_std{
  background-color:#171201;
  width:100%;
  
}

div.gContainerLines_std{
	overflow-y:scroll;
	background-Color:#FFFFFF;
	height:100%;
}

table.gBodyLines_std{
  table-layout:fixed;
  width:100%;
}

td.gCell_std{
  border-bottom:1px solid #CCCCCC;
}

span.gridCell
{
height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
border-bottom:1px solid #CCCCCC;
f-ont-size:8pt;
}

col.sel{
background-color:#EAEDEE;
}

td.gCellSel_std{
  background-color:#E4D6B0;
  border-bottom:1px solid #AF9D71;
  border-top:1px solid #FFFFFF;
}

td.gCellQuickView_std{
  background-color:#B8CBD2;
  border-bottom:1px solid #698E9B;
  border-left:1px solid #698E9B;
  border-top:1px solid #FFFFFF;
  p-adding-bottom:10px;
}

td.gCellExpanded_std{
  background-color:#B8CBD2;
  b-order-bottom:1px dotted #AF9D71;
  border-top:1px solid #FFFFFF;
}

td.gCellExpandedSel_std{
  background-color:#E4D6B0;
  b-order-bottom:1px dotted #AF9D71;
  border-top:1px solid #FFFFFF;
}

table.gh_std{
  table-layout:fixed;
  background-color:#E9E7D7;
}

td.gh_std{
  background-image:url('ghBack.gif');
  background-repeat:repeat-x;
  background-position:bottom;
  cursor:hand;
  color:#3A6F81;
}
div.gh_stdDRAG{
  background-image:url('templates/grid/std/ghBack.gif');
  background-repeat:repeat-x;
  background-position:bottom;
  color:#3A6F81;
}
div.groupDRAG{
	border:1px solid #6297E5;
    background-color:#C9DBF7;
    height:23px; 
    color:#3A6F81;
    text-decoration:none;
    margin-top:2px;
    padding:2px;
   }
    
td.ghSort_std{
  background-image:url('ghBack.gif');
  background-position:bottom;
  background-repeat:repeat-x;
  color:#3A6F81;
  F-ILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#CCCCCC, EndColorStr=#EEEEEE);
  cursor:hand;
}
img.ghSort_std{
  vertical-align:middle;
}

img.numberLine{
  vertical-align:middle;
  cursor:hand;
}

td.gCellNumber_std{
  border-bottom:1px solid #CCCCCC;
  F-ILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#F9FBFC, EndColorStr=#D6E3E6);
}

td.ghSep_std{
  background-image:url('ghBackSep.gif');
  background-position:bottom;
  background-repeat:repeat-x;
  b-ackground-color :#9CB6BF;
}

TABLE.gfBar_std {
	B-ORDER-RIGHT: #dbdac9 1px solid;
	TABLE-LAYOUT: fixed; 
	BORDER-TOP: #CCCCCC 1px solid;
	B-ACKGROUND-IMAGE: url('gfBack.gif');
	BORDER-LEFT: #dbdac9 1px solid;
	WIDTH: 100%;
	B-ORDER-BOTTOM: #000000 1px solid;
	HEIGHT: 22px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#EEEEEE);
	BACKGROUND-COLOR:#FFFFFF;
}

TABLE.gfBar_status{
  color:red;
}

TABLE.gfFilterBar_std {
	TABLE-LAYOUT: fixed;
	CURSOR: hand; COLOR: #74736b; TEXT-ALIGN: center
}

tr.gfSpacer_std{
   background-color:#EEEEEE;
   height:2px;
   border-top:1px red solid;
}



table.gfc_std{
  table-layout:fixed;
  background-color:#E9E7D7;
}

td.gfc_std{
  b-ackground-image:url('ghBack.gif');
  b-ackground-repeat:repeat-x;
  b-ackground-position:bottom;
  cursor:hand;
  FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#CCCCCC, EndColorStr=#EEEEEE);
  
}

td.gfcSort_std{
  background-image:url('ghBack.gif');
  background-position:bottom;
  background-repeat:repeat-x;
  F-ILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#CCCCCC, EndColorStr=#EEEEEE);
  cursor:hand;
}
img.gfcSort_std{
  vertical-align:middle;
}

td.gfcSep_std{
  background-image:url('ghBackSep.gif');
  background-position:bottom;
  background-repeat:repeat-x;
}

td.statusAll{
  FONT-WEIGHT: bold;
  COLOR: #3A6F81;
}

td.statusTextPage{
  COLOR: #3A6F81;
}

DIV.frame{
	height:100%;
	width:100%;
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 20px;
	PADDING-TOP: 0px; BACKGROUND-COLOR: #F2F7FA;
	
}

TD.frameTitle{
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; COLOR: #ffffff;
	background-color:#5991E4;
}

TD.frame_out{
	BORDER: #5991E4 1px solid; BACKGROUND-COLOR: #eeeeee;
	
}

TABLE.frameMenu{

	WIDTH: 135px; COLOR: #666666; HEIGHT: 100%;

	
}
TR.framemenuLastRow{

	BACKGROUND-IMAGE:url('clientLOGO.gif');
    BACKGROUND-REPEAT:no-repeat;
    BACKGROUND-POSITION: bottom right;
}

TD.frameMenuHeader{
	FONT-WEIGHT: bold; CURSOR: default; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid
}
TABLE.add {
	WIDTH: 135px; COLOR: #666666; HEIGHT: 100%
}
TR.hand {
	CURSOR: hand
}




DIV.headerGroup {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 10px 10px 5px; WIDTH: 100%; PADDING-TOP: 2px
}
TD.noneGroup {
	COLOR: #777777
}
TR.rowGroup {
	BEHAVIOR: url(templates/groupgrid/std/grid_light.htc); CURSOR: hand
}

a.colHeader {
	BEHAVIOR: url(templates/groupgrid/std/colHeader.htc);
	width:100%;
	height:100%;
    cursor:hand;
    color:#3A6F81;
    text-decoration:none;
    padding:2px;
}

a.colGroup {
	BEHAVIOR: url(templates/groupgrid/std/colGroup.htc);
    cursor:hand;
    border:1px solid #6297E5;
    background-color:#C9DBF7;
    height:23px; 
    color:#3A6F81;
    text-decoration:none;
    margin-top:2px;
    padding:2px;
}

a.colGroupNone {
	BEHAVIOR: url(templates/groupgrid/std/colGroup.htc);
    cursor:hand;
    b-order:1px solid #9DBDEF;
    background-color:#EEEEEE;
    color:#AAAAAA;
    font-size:14px;
    height:23px;
    margin-top:2px;
    padding:2px;
    position:relative;
    text-decoration:none;
    padding:2px;
}

span.colGroupInterval
{
 
 background-color:#EEEEEE;
 height:23px; 
 padding:2px;
 
}


table.box
{

	

}


td.box_body
{
	BORDER-RIGHT: #5991E4 1px solid;
	BORDER-TOP: #5991E4 1px solid;
	BORDER-LEFT: #5991E4 1px solid;
	BORDER-BOTTOM: #5991E4 1px solid; BACKGROUND-COLOR: #ffffff;
}

td.box_header{
	FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-COLOR: #5991E4
}

td.toolAreaGrid
{
	background-color:#EEEEEE;
	padding:3px;
	width:100%;
	border-bottom:#9DBDEF 1px solid;

}




span.titleLabelGroup
{
 font-size:10px;
 color:#000000;
}form.objectForm{
	BEHAVIOR: url(templates/form/std/form.htc);
	BACKGROUND-COLOR:#F2F7FA;
}

button.frm_std{
	border:1px solid #6283A3;
	PADDING-RIGHT: 5px;
	color:#000000;
	PADDING-LEFT: 5px;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#DBDBD1);
	CURSOR: hand;
}
input.frm_std{
	border:1px solid #6283A3;
	width:100%;
}
textarea.frm_std{
  border:1px solid #6283A3;
  width:100%;
  overflow:auto;
}

input.frmtext_std{
  border:1px solid #6283A3;
  width:100%;
 }

input.frmrad_std{
  border:0;
  width:100%;
}

textarea.frm_std{
  border:1px solid #6283A3;
  overflow:auto;
  width:100%;
}

INPUT.duration {
	BEHAVIOR: url(templates/form/std/duration.htc)
}

INPUT.selectBox {
	BORDER-RIGHT: 0px; BORDER-TOP: #6B8C9C 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; BORDER-LEFT: #6B8C9C 1px solid; WIDTH: 100%; CURSOR: default; BORDER-BOTTOM: #6B8C9C 1px solid; FONT-FAMILY: verdana; HEIGHT: 19px
}
SPAN.selectBox {
	BEHAVIOR: url(templates/form/std/select.htc); HEIGHT: 21px
}

table.usefull_links
{
	background-color:#CCCCCC;
}
input.fullTextSearch {
	BEHAVIOR: url(templates/form/std/fulltext.htc);
	border:0;
	width:100%;
}
table.fullTextSearch{
border:1px solid #6B8C9C;
}

IMG.dtm {
	BEHAVIOR: url(templates/form/std/IMG.dtm.htc); CURSOR: hand
}

IMG.clock {
	BEHAVIOR: url(templates/form/std/clock.htc); CURSOR: hand
}

INPUT.dtm {
    width:100%;
	BEHAVIOR: url(templates/form/std/INPUT.dtm.htc);
}
DIV.timeedit {
	BEHAVIOR: url(templates/form/std/timeedit.htc)
}

SPAN.link {
	CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline
}

SPAN.lui {
	CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline
}

IMG.lui {
	MARGIN-LEFT: 2px; VERTICAL-ALIGN: middle; WIDTH: 16px; MARGIN-RIGHT: 5px; HEIGHT: 16px;
	BEHAVIOR: url(templates/form/std/IMG.lui.htc);
}

DIV.lu {
	BORDER: #6B8C9C 1px solid;OVERFLOW-Y: auto; BACKGROUND: window; OVERFLOW-X: hidden; 
	WIDTH: 100%;
	HEIGHT: 19px;
}
DIV.ro {
	OVERFLOW-Y: auto; BORDER: 1px solid #A4BAC4; WIDTH: 100%; HEIGHT: 19px; BACKGROUND-COLOR: #FBFDFD;
}

DIV.lui
{
	BEHAVIOR: url(templates/form/std/DIV.lui.htc);
}

DIV.lud {
	BACKGROUND:#FBFDFD;
}
IMG.lu {
	BEHAVIOR: url(templates/form/std/IMG.lu.htc); CURSOR: hand
}

IMG.lua {
	BEHAVIOR: url(templates/form/std/IMG.lua.htc); CURSOR: hand
}
IMG.imgonoff {
	BEHAVIOR: url(templates/form/std/IMG.onoff.htc); CURSOR: hand;display:inline;
}

IMG.lud {
	CURSOR: default
}

TABLE.htmlBar {
	BORDER-RIGHT: #808080 1px solid;
	TABLE-LAYOUT: fixed; BORDER-TOP: #808080 1px solid;
	BEHAVIOR: url(templates/form/std/htmlbar.htc); BORDER-LEFT: #808080 1px solid; WIDTH: 100%; BORDER-BOTTOM: 0px; HEIGHT: 26px; BACKGROUND-COLOR: #EDEAE6
}
.htmlBtn {
	BORDER-RIGHT:  #EDEAE6 1px solid;
	PADDING-RIGHT: 4px;
	BORDER-TOP: #EDEAE6 1px solid;
	PADDING-LEFT: 2px;
	PADDING-BOTTOM: 0px; FONT: 10px verdana;
	BORDER-LEFT: #EDEAE6 1px solid;
	CURSOR: hand; PADDING-TOP: 2px;
	BORDER-BOTTOM: #EDEAE6 1px solid;
	BACKGROUND-COLOR: #EDEAE6;
	TEXT-ALIGN: center
}
IFRAME.editPage {
	BORDER-RIGHT: #6B8C9C 1px solid; BORDER-TOP: #6B8C9C 1px solid; OVERFLOW: auto; BORDER-LEFT: #6B8C9C 1px solid; WIDTH: 100%; BORDER-BOTTOM: #6B8C9C 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #000000
}

INPUT.num {
	BEHAVIOR: url(templates/form/std/INPUT.num.htc)
}
INPUT.rad {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	BEHAVIOR: url(templates/form/std/inputRadio.htc);
	BORDER-LEFT: 0px; WIDTH: 15px; CURSOR: hand; BORDER-BOTTOM: 0px
}
TD.radioLabel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px
}
LABEL {
	CURSOR: hand
}

label.req{
   FONT-WEIGHT: bold; color:#990000
}

label.rcm{
   FONT-WEIGHT: bold; color:#3050AA
}

label.reqToComplete{
   FONT-WEIGHT: bold; color:green;
}


TD.headerExtendList{
   B-ACKGROUND-COLOR:#EEEEEE;
   FONT-FAMILY: verdana; HEIGHT: 17px
}
DIV.ExtendList{
   BORDER-RIGHT: #949e9c 1px solid; BORDER-TOP: #949e9c 1px solid;BORDER-LEFT: #949e9c 1px solid; WIDTH: 100%; BORDER-BOTTOM: #949e9c 1px solid; HEIGHT: 100%; BACKGROUND-COLOR:#FEFDFC;
   padding:2px;
}

TD.req {
	FONT-WEIGHT: bold; COLOR: #990000
}
TD.sec {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; WIDTH: 100%; COLOR: #606050
}
TD.bar {
	BORDER-BOTTOM: #838574 1px solid
}

TABLE.section{
 TABLE-LAYOUT: fixed;
 BACKGROUND-COLOR:#FEFDFC;
 padding:2px;
}

span.error{
  color:#990000;
}

span.error{
  color:#990000;
  TEXT-DECORATION: underline;
  cursor:hand;
  padding-left:10px;
}

div.error{
	overflow-y:auto;
	padding:2px;
	height:40px;
	background-color:#FFFFFF;
}
td.error{
  background-color:#FFFFFF;
  padding:10px;
  height:60px;
  B-ORDER-BOTTOM:#113469 1px solid;
  
}


td.breadCrumb{
  padding:4px;
  background-color:#F2F7FA;
  
}
span.breadCrumbSep{
  color:#3A6F81;
  font-weight:bold;
  padding:3px;
  background-color:#F2F7FA;
  
}
span.breadCrumbLastItem{
  color:#3A6F81;
  font-weight:bold;
  background-color:#F2F7FA;
  
}
span.linkScreen{  color:#3A6F81;padding-left:2px; border-bottom:1px solid #3A6F81 ;cursor:hand }
SPAN.tab {
	BORDER-RIGHT: #94a6b5 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #94a6b5 1px solid;
	PADDING-LEFT: 5px;
	FONT-SIZE: 11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#fffbff', EndColorStr='#e7e4de');
	LEFT: 1px;
	PADDING-BOTTOM: 3px;
	BORDER-LEFT: #94a6b5 1px solid; CURSOR: hand;
	MARGIN-RIGHT: 1px;
	PADDING-TOP: 2px; BORDER-BOTTOM: #94a6b5 1px solid;
	POSITION: relative; TOP: 1px;
	HEIGHT: 17px;
	BACKGROUND-COLOR: #ffffff
}
SPAN.tabOn {
	FILTER: ;
	PADDING-BOTTOM: 5px;
	CURSOR: default;
	BORDER-BOTTOM: #fffbff 1px solid;
	BACKGROUND-COLOR:  #FEFDFC;
}
HR.tabGlow {
	BORDER-TOP: #de8e29 1px solid; DISPLAY: none; Z-INDEX: 2; COLOR: #e89f2e; BORDER-BOTTOM: #ffc739 1px solid; POSITION: absolute; HEIGHT: 3px
}
DIV.tab {
	BORDER-RIGHT: #949e9c 1px solid; BORDER-TOP: #949e9c 1px solid; DISPLAY: none; BORDER-LEFT: #949e9c 1px solid; WIDTH: 100%; BORDER-BOTTOM: #949e9c 1px solid; HEIGHT: 100%; BACKGROUND-COLOR:#FEFDFC;
	padding:2px;
}
TABLE.tabBar {
    BEHAVIOR: url(templates/tabs/std/tab.htc);
	WIDTH: 100%; HEIGHT: 25px
}
SPAN.menu {
	PADDING-RIGHT: 5px;PADDING-LEFT: 5px; PADDING-BOTTOM: 2px;PADDING-TOP: 4px;HEIGHT: 100%
}
SPAN.menuFlat {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; HEIGHT: 100%;
}
SPAN.menuInput {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 100%;
	vertical-align:top;
}
SPAN.button {
	PADDING-RIGHT: 2px;PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; 
	CURSOR: hand; PADDING-TOP: 2px;HEIGHT: 100%
}
TABLE.mnuList {
	BORDER-RIGHT: #454F5F 1px solid; BORDER-TOP: #454F5F 1px solid; DISPLAY: none; Z-INDEX: 10; BORDER-LEFT: #454F5F 1px solid; WIDTH: 200px; COLOR: #3A6F81; BORDER-BOTTOM: #454F5F 1px solid; POSITION: absolute; BACKGROUND-COLOR: #F9FBFB
}
TABLE.mnuBar {
	BORDER-BOTTOM:#246EDB 1px solid;
	BORDER-TOP:#88B0EB 1px solid;
	WIDTH: 100%; COLOR: #FFFFFF;
	BACKGROUND-COLOR: #6297E5;
	POSITION: relative; HEIGHT: 23px; 
	
}
TABLE.mnuBarFlat {
	BORDER-BOTTOM:#246EDB 1px solid;
	WIDTH: 100%; COLOR: #FFFFFF;  POSITION: relative; HEIGHT: 23px;
	BACKGROUND-COLOR: #6297E5;
}

TR.mnuSpacer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.mnuItm {
	PADDING-LEFT: 10px; PADDING-TOP: 5px
}
TD.icMenu {
	BEHAVIOR: url(templates/menu/std/menu.htc)
}
U.mnuKey {
	ACCELERATOR: true
}
TD.mnuTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: default; COLOR: #FDDCA9; LETTER-SPACING: 1px;
}
TD.mnuRight {
	PADDING-RIGHT: 5px; WIDTH: 100%; TEXT-ALIGN: right
}
IMG.mnuBtn {
	MARGIN-BOTTOM: -1px; VERTICAL-ALIGN: top; WIDTH: 16px; MARGIN-RIGHT: 1px; HEIGHT: 16px
}
HR.mnuSpacer {
	MARGIN-LEFT: 10px; HEIGHT: 1px
}
COL.mnuLeft {
	WIDTH: 21px;
	BACKGROUND-COLOR: #ABBEC7;
	TEXT-ALIGN: center
	
}
SPAN.mnuSubItem {
	WIDTH: 140px
}
DIV.barInterval{
BORDER-TOP: #A4C3F0 1px solid;
B-ORDER-BOTTOM: green 1px solid";
}