

.footer{width:100%;border-top:2px  #6297E5;}
.header{width:100%;height:100%;}
.credentials{font-size:7pt;}
.sep{height:2pt;width:100%;background-color:#E56369;}
.input{width:100%;}
.label{ color:#000000;}
.input{background-color:#EEEEEE;border:1px solid #CCCCCC;}
.section{ width:100%; cellpadding:1pt; table-layout:fixed; cellmargin:2;font-size:9pt }
.section_title{ font-weight:bold ;}
.section_title_NHeader{ margin-top:0pt;font-weight:bold ;}

div.templateTitle{font-size:15pt;font-weight:bold;font-family: Arial, Helvetica, sans-serif;text-align:left;width:100%;color:#FF5917;border-bottom:2px solid #CCCCCC;margin-top:20px }
div.titlecardid{border-bottom:1px black;}
div.area_title_NHeader { margin-top:0pt; font-weight:bold ;font-size:12pt;width:100%;color:#2C394C;border-bottom:1px solid #2C394C; }
div.area_title { margin-top:14pt; font-weight:bold ;font-size:12pt;width:100%;color:#2C394C;border-bottom:1px solid #2C394C; }
div.tab_title  { margin:3pt;font-weight:bold; }
div.tab_title_NHeader  { margin-top:0pt;margin:3pt;font-weight:bold; }

td.label{ color:#000000;FONT-SIZE: 8pt;FONT-FAMILY: Arial, Helvetica, sans-serif;}

.grid{ width:100%;cellpadding:2pt; cellmargin:1;font-size:9pt }
.gridCHeader{ font-weight:normal; background-color:#C9DBF7;border:1px solid #6297E5;padding:1px}
.gridCBody{ border-bottom:1px solid #CCCCCC }


div.mailProperties{font-size:12px;font:Arial, Helvetica, sans-serif;text-align:left;width:100%;background-color:#FFFFFF;}


div.title{font-size:18px;font:Arial, Helvetica, sans-serif;text-align:left;width:100%;background-color:#FFFFFF;border-top:0px solid #475A76;border-left:0px solid #475A76;border-right:0px solid #475A76   }
div.report{ background-color:#FFFFFF;font:Arial, Helvetica, sans-serif;padding:0pt;width:100%;}
div.reportBodyNHeader{ background-color:#FFFFFF;padding:5px;border-right:1px solid #475A76;border-left:1px solid #475A76;border-bottom:1px solid #475A76;width:100%;}
div.reportInnerBody{ background-color:#FFFFFF;padding:0px;border-top:0px solid #475A76;border-right:0px solid #475A76;border-left:0px solid #475A76;border-bottom:0px solid #475A76;width:100%;}

div.note{ font:12px italic ; margin-top:20px;color:red }
div.low{ font:12px italic ; margin-top:10px;color:blue }
div.high{ font:12px italic ; margin-top:10px;color:red }
div.receipt{ font:12px italic ; margin-top:10px;color:black }
div.signed{ font:12px italic ; margin-top:10px;color:black }

SPAN.lui{CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline}

body { 
	FONT-SIZE: 8pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
	margin:0;
	scrollbar-3dlight-color:#B4CAEC;
	scrollbar-arrow-color:#009A00;
	scrollbar-base-color:#C9DBF7;
	scrollbar-darkshadow-color:#D7E6FD;
	scrollbar-face-color:#D6DEE7;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-shadow-color:#5A7B94;
}


@media print{
  .print { display:none }
  .noprint{display:none}
  .toolbar{display:none}

  div.titleReport{font-size:21px;font:Arial, Helvetica, sans-serif;text-align:center;width:100%;background-color:#FFFFFF;border-top:1px solid #475A76;border-left:1px solid #475A76;border-right:1px solid #475A76   }
  div.reportBody{ background-color:#FFFFFF;padding:5px;border-right:1px solid #475A76;border-left:1px solid #475A76;border-bottom:1px solid #475A76;width:100%;}
  div.status{ background-color:#EEEEEE;padding:5px;border-right:1px solid #475A76;border-left:1px solid #475A76;border-bottom:1px solid #475A76;width:100%;}

}
@media screen{



  div.titleReport{font-size:21px;font:Arial, Helvetica, sans-serif;text-align:center;width:100%;background-color:#FFFFFF;}
  div.reportBody{ background-color:#FFFFFF;padding:5px;width:100%;}
  div.status{ background-color:#EEEEEE;padding:5px;width:100%;}
  .print {
   border:1px solid #6283A3;
	PADDING-RIGHT: 5px;
	color:#000000;
	PADDING-LEFT: 5px;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#DBDBD1);
	CURSOR: hand;
  }
  .toolbar{ 
	WIDTH: 100%; COLOR: #FFFFFF; 
	BACKGROUND-COLOR: #FFFFFF;
	text-align:right;
	padding:3px;  
	
   }
}
