DIV.frame{
	height:100%;
	width:100%;
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 20px;
	PADDING-TOP: 0px; BACKGROUND-COLOR: #F2F7FA;
	
}

TD.frameTitle{
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; COLOR: #ffffff;
	background-color:#5991E4;
}

TD.frame_out{
	BORDER: #5991E4 1px solid; BACKGROUND-COLOR: #eeeeee;
	
}

TABLE.frameMenu{

	WIDTH: 135px; COLOR: #666666; HEIGHT: 100%;

	
}
TR.framemenuLastRow{

	BACKGROUND-IMAGE:url('clientLOGO.gif');
    BACKGROUND-REPEAT:no-repeat;
    BACKGROUND-POSITION: bottom right;
}

TD.frameMenuHeader{
	FONT-WEIGHT: bold; CURSOR: default; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid
}
TABLE.add {
	WIDTH: 135px; COLOR: #666666; HEIGHT: 100%
}
TR.hand {
	CURSOR: hand
}




DIV.headerGroup {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 10px 10px 5px; WIDTH: 100%; PADDING-TOP: 2px
}
TD.noneGroup {
	COLOR: #777777
}
TR.rowGroup {
	BEHAVIOR: url(templates/groupgrid/std/grid_light.htc); CURSOR: hand
}

a.colHeader {
	BEHAVIOR: url(templates/groupgrid/std/colHeader.htc);
	width:100%;
	height:100%;
    cursor:hand;
    color:#3A6F81;
    text-decoration:none;
    padding:2px;
}

a.colGroup {
	BEHAVIOR: url(templates/groupgrid/std/colGroup.htc);
    cursor:hand;
    border:1px solid #6297E5;
    background-color:#C9DBF7;
    height:23px; 
    color:#3A6F81;
    text-decoration:none;
    margin-top:2px;
    padding:2px;
}

a.colGroupNone {
	BEHAVIOR: url(templates/groupgrid/std/colGroup.htc);
    cursor:hand;
    b-order:1px solid #9DBDEF;
    background-color:#EEEEEE;
    color:#AAAAAA;
    font-size:14px;
    height:23px;
    margin-top:2px;
    padding:2px;
    position:relative;
    text-decoration:none;
    padding:2px;
}

span.colGroupInterval
{
 
 background-color:#EEEEEE;
 height:23px; 
 padding:2px;
 
}


table.box
{

	

}


td.box_body
{
	BORDER-RIGHT: #5991E4 1px solid;
	BORDER-TOP: #5991E4 1px solid;
	BORDER-LEFT: #5991E4 1px solid;
	BORDER-BOTTOM: #5991E4 1px solid; BACKGROUND-COLOR: #ffffff;
}

td.box_header{
	FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-COLOR: #5991E4
}

td.toolAreaGrid
{
	background-color:#EEEEEE;
	padding:3px;
	width:100%;
	border-bottom:#9DBDEF 1px solid;

}




span.titleLabelGroup
{
 font-size:10px;
 color:#000000;
}