button{
	border:1px solid #6283A3;
	PADDING-RIGHT: 5px;
	color:#000000;
	PADDING-LEFT: 5px;
	FONT:11px;
	FILTER:none;
}

 
SPAN.tab {
	BORDER-RIGHT: #94a6b5 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #94a6b5 1px solid;
	PADDING-LEFT: 5px;
	FONT-SIZE: 11px;
	background-image: url(backtab.gif);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#fffbff', EndColorStr='#e7e4de');
	LEFT: 1px;
	PADDING-BOTTOM: 3px;
	BORDER-LEFT: #94a6b5 1px solid; 
	CURSOR: hand;
	MARGIN-RIGHT: 1px;
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #94a6b5 1px solid;
	POSITION: relative; 
	TOP: 1px;
	HEIGHT: 17px;
	BACKGROUND-COLOR: #ffffff
}

SPAN.tabOn {
	FILTER: ;
	PADDING--BOTTOM: 5px;
	background-image: url();
	CURSOR: default;
	BORER-BOTTOM: #fffbff 1px solid;
	BACKGROUND-COLOR:  #FEFDFC;
}

HR.tabGlow {
	BORDER-TOP: #de8e29 1px solid; 
	DISPLAY: none; 
	Z-INDEX: 2; 
	COLOR: #e89f2e; 
	BORDER-BOTTOM: #ffc739 1px solid; 
	POSITION: absolute; 
	HEIGHT: 3px
}

DIV.tab {
	BORDER-RIGHT: #949e9c 1px solid; 
	BORDER-TOP: #949e9c 1px solid; 
	DISPLAY: none; 
	BORDER-LEFT: #949e9c 1px solid; 
	WIDTH: 100%; 
	BORDER-BOTTOM: #949e9c 1px solid; 
	HEIGHT: 100%; 
	BACKGROUND-COLOR:#FEFDFC;
	padding:2px;
}

TABLE.tabBar {
    BEHAVIOR: url();
	WIDTH: 100%; 
	HEIGHT: 25px
}

