td.mnuOption{padding-left:5px;padding-right:5px}
td.optionBAR_select{background-color:#FFD695}
td.optionBAR_active{background-color:#FFD695}
tr.optionLIST_select{background-color:#FFD695}
tr.optionLIST_active{background-color:#FFD695}
td.mnuLabel{padding-left:5px;padding-right:5px}
SPAN.text{HEIGHT: 100%;VERTICAL-ALIGN:middle}
IMG.buttonMenu {VERTICAL-ALIGN:middle;MARGIN-RIGHT:3px}
span.mnuList
{
BORDER-RIGHT: #454F5F 1px solid;BORDER-TOP: #454F5F 1px solid;
Z-INDEX: 10;BORDER-LEFT: #454F5F 1px solid;
COLOR: #3A6F81; BORDER-BOTTOM: #454F5F 1px solid;
display:none;
position:absolute;
BACKGROUND-COLOR: #F9FBFB
}
span.mnuListFix
{
BORDER-RIGHT: #454F5F 1px solid;
BORDER-TOP: #454F5F 1px solid;
Z-INDEX: 10; BORDER-LEFT: #454F5F 1px solid;
COLOR: #3A6F81; BORDER-BOTTOM: #454F5F 1px solid;
HEIGHT:100%;
BACKGROUND-COLOR: #F9FBFB;
}
span.mnuBar 
{
BORDER-TOP:#88B0EB 1px solid;
WIDTH: 100%;
COLOR: #000000;
overflow:hidden;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#dbebfd, EndColorStr=#acc8ef);
BACKGROUND-COLOR: #c9dbf7;
}
span.mnuBarFlat
{
BORDER-TOP:#88B0EB 1px solid;
WIDTH: 100%;
COLOR: #FFFFFF;
BACKGROUND-COLOR: #6297E5;
overflow:hidden;
}
table.mnuBarFlat{color:#FFFFFF}
span.scrollLeft
{
BACKGROUND-IMAGE:url('arrowLeft.gif');
BACKGROUND-REPEAT:no-repeat;
BACKGROUND-POSITION: center center;
BACKGROUND-COLOR:#135EC3;
WIDTH:10px;
}
span.scrollRight
{
BACKGROUND-IMAGE:url('arrowRight.gif');
BACKGROUND-REPEAT:no-repeat;
BACKGROUND-POSITION: center center;
BACKGROUND-COLOR:#135EC3;
WIDTH:10px;
}

span.scrollTop
{
BACKGROUND-IMAGE:url('arrowTop.gif');
BACKGROUND-REPEAT:no-repeat;
BACKGROUND-POSITION: top center;
BACKGROUND-COLOR:#135EC3;
HEIGHT:12px;
}
span.scrollBottom
{
BACKGROUND-IMAGE:url('arrowBottom.gif');
BACKGROUND-REPEAT:no-repeat;
BACKGROUND-POSITION: top center;
BACKGROUND-COLOR:#135EC3;
HEIGHT:12px;
}

HR.mnuSpacer {MARGIN-LEFT: 10px; HEIGHT: 1px}
COL.mnuLeft {WIDTH: 21px;BACKGROUND-COLOR:#ABBEC7;EXT-ALIGN: center}
DIV.barInterval{}