<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by dev2 (itds) -->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <description>XEO Web Application</description>
    <filter>
        <filter-name>boCharsetFilter</filter-name>
        <filter-class>netgest.bo.http.boCharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>boContextFilter</filter-name>
        <filter-class>netgest.bo.http.boContextFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PerformanceFilter</filter-name>
        <filter-class>netgest.bo.http.PerformanceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DeployFilter</filter-name>
        <filter-class>netgest.bo.http.DeployFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>boCharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>boContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PerformanceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DeployFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>netgest.bo.http.boHTTPSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>netgest.bo.system.boWebContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Builder</servlet-name>
        <servlet-class>netgest.bo.http.Builder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XEOHub</servlet-name>
        <servlet-class>oracle.j2ee.ws.StatelessJavaRpcWebService</servlet-class>
        <init-param>
            <param-name>class-name</param-name>
            <param-value>netgest.bo.services.XEOHubSimple</param-value>
        </init-param>
        <init-param>
            <param-name>interface-name</param-name>
            <param-value>netgest.bo.services.IXEOHub</param-value>
        </init-param>
        <init-param>
            <param-name>accept-untyped-request</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Builder</servlet-name>
        <url-pattern>/servlet/Builder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Builder</servlet-name>
        <url-pattern>/Builder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XEOHub</servlet-name>
        <url-pattern>/XEOHub</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>22</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>htc</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>    
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
        <taglib>
            <taglib-uri>/html/xeo</taglib-uri>
            <taglib-location>/WEB-INF/xeo.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/xeo/xeoviewer</taglib-uri>
            <taglib-location>/WEB-INF/xeoviewer.tld</taglib-location>
        </taglib>
    <ejb-ref>
        <ejb-ref-name>ejb/boSecurityManager</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.ejb.boManagerHome</home>
        <remote>netgest.bo.ejb.boManager</remote>
        <ejb-link>boSecurityManager</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/boManager</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.ejb.boManagerHome</home>
        <remote>netgest.bo.ejb.boManager</remote>
        <ejb-link>boManager</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/boLogin</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.system.boLoginHome</home>
        <remote>netgest.bo.system.boLogin</remote>
        <ejb-link>boLogin</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/boClientRemote</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.ejb.boClientRemoteHome</home>
        <remote>netgest.bo.ejb.boClientRemote</remote>
        <ejb-link>boClientRemote</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/GarbageRemover</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
        <ejb-link>GarbageRemover</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/TemplateTextIndexAgent</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
        <ejb-link>TemplateTextIndexAgent</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/boQueueAgent</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
        <ejb-link>boQueueAgent</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/boScheduleAgent</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
        <ejb-link>boScheduleAgent</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/boScheduleThread</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.boScheduleThreadEJBHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.boScheduleThreadEJB</remote>
        <ejb-link>boScheduleThread</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/boSessionCleanAgent</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
        <ejb-link>boSessionCleanAgent</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/boTextIndexAgent</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
        <ejb-link>boTextIndexAgent</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/xwfActivityRobot</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
        <ejb-link>xwfActivityRobot</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/xwfTimeAgent</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimerHome</home>
        <remote>netgest.bo.runtime.robots.ejbtimers.xeoEJBTimer</remote>
        <ejb-link>xwfTimeAgent</ejb-link>
    </ejb-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/boManagerLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>netgest.bo.ejb.boManagerLocalHome</local-home>
        <local>netgest.bo.ejb.boManagerLocal</local>
        <ejb-link>boManager</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/boLoginLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>netgest.bo.system.boLoginLocalHome</local-home>
        <local>netgest.bo.system.boLoginLocal</local>
        <ejb-link>boLogin</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/boSecurityManagerLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>netgest.bo.ejb.boManagerLocalHome</local-home>
        <local>netgest.bo.ejb.boManagerLocal</local>
        <ejb-link>boSecurityManager</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/boClientRemoteLocal</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>netgest.bo.ejb.boClientRemoteLocalHome</local-home>
        <local>netgest.bo.ejb.boClientRemoteLocal</local>
        <ejb-link>boClientRemote</ejb-link>
    </ejb-local-ref>
</web-app>
