table.containerexp
{
 background-color:#84B27C;
}

div.gContainerLines_std{
	overflow-y:scroll;
	background-Color:#FFFFFF;
	height:100%;
}

table.gBodyLines_std{
  table-layout:fixed;
  width:100%;
}

td.gCell_std{
  border-bottom:1px solid #CCCCCC;
}

span.gridCell
{
height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
border-bottom:1px solid #CCCCCC;
}

col.sel{
background-color:#EAEDEE;
}

td.gCellSel_std{
  background-color:#E4D6B0;
  border-bottom:1px solid #AF9D71;
  border-top:1px solid #FFFFFF;
}

td.gCellQuickView_std{
  background-color:#B8CBD2;
  border-bottom:1px solid #698E9B;
  border-left:1px solid #698E9B;
  border-top:1px solid #FFFFFF;
  p-adding-bottom:10px;
}

td.gCellExpanded_std{
  background-color:#B8CBD2;
  b-order-bottom:1px dotted #AF9D71;
  border-top:1px solid #FFFFFF;
}

td.gCellExpandedSel_std{
  background-color:#E4D6B0;
  b-order-bottom:1px dotted #AF9D71;
  border-top:1px solid #FFFFFF;
}

table.gh_std{
  table-layout:fixed;
  background-color:#E9E7D7;
}

td.gh_std{
  background-image:url('ghBack.gif');
  background-repeat:repeat-x;
  background-position:bottom;
  cursor:hand;
  color:#3A6F81;
}
div.gh_stdDRAG{
  background-image:url('templates/grid/std/ghBack.gif');
  background-repeat:repeat-x;
  background-position:bottom;
  color:#3A6F81;
}

    
td.ghSort_std{
  background-image:url('ghBack.gif');
  background-position:bottom;
  background-repeat:repeat-x;
  color:#3A6F81;
  F-ILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#CCCCCC, EndColorStr=#EEEEEE);
  cursor:hand;
}
img.ghSort_std{
  vertical-align:middle;
}

img.numberLine{
  vertical-align:middle;
  cursor:hand;
}

td.gCellNumber_std{
  border-bottom:1px solid #CCCCCC;
  F-ILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#F9FBFC, EndColorStr=#D6E3E6);
}

td.ghSep_std{
  background-image:url('ghBackSep.gif');
  background-position:bottom;
  background-repeat:repeat-x;
  b-ackground-color :#9CB6BF;
}

//header

DIV.headerGroup {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 10px 10px 5px; WIDTH: 100%; PADDING-TOP: 2px
}
DIV.footerGroup {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN: 10px 10px 5px; WIDTH: 100%; PADDING-TOP: 2px
}

span.navGroup
{
cursor:hand;
padding-left:5px;
font-size:10px;
text-decoration:underline;
color:blue;
}

TD.noneGroup {
	COLOR: #777777
}

TR.rowGroup {
	BEHAVIOR: url(ieLibrary/explorer/explorer_light.htc); CURSOR: hand
}
TR.rowGroupSel {
	
	BEHAVIOR: url(ieLibrary/explorer/explorer_light.htc); CURSOR: hand;
    background-color:#E4D6B0;
  
}
TR.rowGroupOver {
	background-color:#d7ecd4;
	BEHAVIOR: url(ieLibrary/explorer/explorer_light.htc); CURSOR: hand;
}

TR.rowOE {
	BEHAVIOR: url(ieLibrary/explorer/explorer_light.htc); CURSOR: hand
}

a.colHeader {
	BEHAVIOR: url(ieLibrary/explorer/colHeader.htc);
	width:100%;
	height:100%;
    cursor:hand;
    color:#3A6F81;
    text-decoration:none;
    padding:2px;
}

DIV.headerGroup {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; MARGIN: 10px 10px 5px; WIDTH: 100%; PADDING-TOP: 4px
}
TD.noneGroup {
	COLOR: #777777
}
a.colGroup {
	BEHAVIOR: url(ieLibrary/explorer/colGroup.htc);
    
    b-order:1px solid #84B27C;
    b-ackground-color:#C9DBF7;
    b-order:1px solid #CCCCCC;
    background-color:#DDDDDD;
    F-ILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#C9DBF7, EndColorStr=#EEEEEE);
    height:23px; 
    color:#3A6F81;
    text-decoration:none;
    padding:4px;
    
    border:1px solid #84B27C;
	color:#000000;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#DBDBD1);
	CURSOR: hand;
}

a.colGroupNone {
	BEHAVIOR: url(ieLibrary/explorer/colGroup.htc);
    cursor:hand;
    b-order:1px solid #9DBDEF;
    background-color:#EEEEEE;
    color:#AAAAAA;
    font-size:14px;
    height:23px;
    padding:2px;
    position:relative;
    text-decoration:none;
    padding:2px;
}

span.colGroupInterval
{
 
 background-color:#EEEEEE;
 height:23px; 
 padding:2px;
 
}

div.groupDRAG{
	 background-color:#DDDDDD;
    F-ILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#C9DBF7, EndColorStr=#EEEEEE);
    height:23px; 
    color:#3A6F81;
    text-decoration:none;
    padding:4px;
    
    border:1px solid #84B27C;
	color:#000000;
	FONT:11px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#DBDBD1);
	CURSOR: hand;
   }

input.explorerfullTextSearch {
	BEHAVIOR: url(ieLibrary/explorer/explorerfulltext.htc);
	width:120px;
	height:16px;
	border:0;
	
}
tr.groupbar {
	border:0;
	background-color:#EEEEEE;
	padding-top:6px;
	padding-bottom:6px;
}
tr.parambar {
	border:0;
	background-color:#ffffff;
  cursor:hand;
  b-order:1px solid #9DBDEF;
  color:#AAAAAA;
  font-size:14px;
  argin-top:2px;
  position:relative;
  text-decoration:none;
  padding:2px;
}

table.explorerfullTextSearch
{
	
	b-ackground-color:#CCCCCC;
	
}

td.tdTextFull
{
	background-color:#ffffff;
	
	border-top:1px solid #6B8C9C;
	border-left:1px solid #6B8C9C;
	border-bottom:1px solid #6B8C9C;

}
td.tdImgTextFull
{
background-color:#FFFFFF;
border-top:1px solid #6B8C9C;
border-right:1px solid #6B8C9C;
border-bottom:1px solid #6B8C9C;
}
